/** -----------------UTILITIES------------------ */

.container {
    max-width: 1158px;
}

.section {
    padding: 120px 0;
}

/** -----------------HEADER------------------ */

.header {
    padding: 25px 0;
}

.header-link {
    gap: 76px;
}

.header-address-list  {
    flex-direction: row;
    gap: 40px;
}

.current::after {
    top: 120%;
}

.mobile-menu {
    display: none;
}

/** -----------------HERO------------------ */

.hero {
    padding: 188px 0;
    
    background: linear-gradient(var(--grey-color), var(--grey-color)),
                url('../images/landing/hero/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
       (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {

        .hero {
            background: linear-gradient(var(--grey-color), var(--grey-color)),
                    url('../images/landing/hero/hero-bg@2x.jpg');
            background-repeat: no-repeat;
            background-size: 1440px;
            background-position: center;
        }
       }

.hero-btn {
    margin-top: 48px;
}

/** -----------------ADVANTAGES------------------ */

.abaut {
    padding-bottom: 0;
}

.abaut-container {
    padding: 0;
}

.abaut-list {
    flex-wrap: nowrap;
    gap: 24px;
}

.abaut-calk {
    height: calc((100% - 72px) / 4);
}

.abaut-list-taytan {
    margin-top: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

}

.abaut-text{
    font-weight: 400;
}

/** -----------------ABOUT------------------*/

.photo-comp-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}

/** -----------------TEAM------------------*/

.mob-conteiner {
    padding: 0 16px;
}

.person-item {
    flex-wrap: nowrap;
}

/** -----------------CUSTOMERS------------------ */

.customers-soc-list {
    flex-wrap: nowrap;
}

/** -----------------FOOTER------------------ */

.footer {
    padding: 100px 0;
}

.footer-bottom-link {
    flex-wrap: nowrap;
    gap: 0;
}

.social-media {
    margin-left: 120px;
    margin-right: 80px;
}

.online-input {
    opacity: 1;
}

.online-label {
    color: #fff;
}

