/** -----------------UTILITIES------------------ */

.container {
    max-width: 1158px;
}

.section {
    padding: 120px 0;
}

/** -----------------HEADER------------------ */

.header {
    padding: 25px 0;
}

.header-nav {
    gap: 76px;
}

.address-list {
    flex-direction: row;
    gap: 40px;
}

.current::after {
    top: 120%;
}

.mobile-menu {
    display: none;
}

/** -----------------HERO------------------ */

.hero {
    padding: 188px 0;
    
    background: linear-gradient(var(--grey-color), var(--grey-color))
    url('../images/lending/hero/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: 1440px;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
       (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {

        .hero {
            background: linear-gradient(var(--grey-color), var(--grey-color))
            url('../images/lending/hero/hero-bg@2x.jpg');
            background-repeat: no-repeat;
            background-size: 1440px;
            background-position: center;
        }
       }

.hero-btn {
    margin-top: 48px;
}

/** -----------------ADVANTAGES------------------ */

.advantages {
    padding-bottom: 0;
}

.advantages-container {
    padding: 0;
}

.advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
}

.advantages-item {
    height: calc((100% - 72px) / 4);
}

.advantages-item-heading {
    margin-top: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

}

.advantages-text {
    font-weight: 400;
}

/** -----------------ABOUT------------------*/

.about-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}

/** -----------------TEAM------------------*/

.team-container {
    padding: 0 16px;
}

.team-list {
    flex-wrap: nowrap;
}

/** -----------------CUSTOMERS------------------ */

.customers-list {
    flex-wrap: nowrap;
}

/** -----------------FOOTER------------------ */

.footer {
    padding: 100px 0;
}

.footer-container {
    flex-wrap: nowrap;
    gap: 0;
}

.footer-soc-container {
    margin-left: 120px;
    margin-right: 80px;
}

.footer-input {
    opacity: 1;
}

.footer-label {
    color: #fff;
}

/*? -----------------PORTFOLIO PAGE------------------  */

.products {
    padding-top: 100px;
}

.products-list {
    margin-top: 72px;
    gap: 48px 24px;
    justify-content: center;
}

.products-item {
    flex-basis: calc((100% - 48px) / 3);
}