/*----section # 4-----*/
.container{
     width: 100%;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
}

/*.header*/
@media screen and (min-width: 428px){
.header{
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 1px 6px rgba(46, 47, 66, 0.08);
}
.conteiner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav-link{
    display: none;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-right: 76px;
   }
   .header-list{
    display: flex;
    gap: 40px;
   }
   .header-list{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
   transition: color var(--transition-dur-and-func);
  }
  .header-address{
    font-style: normal;
    display: none;
  }
  .header-address-list{
    display: flex;
    gap: 40px;
  }
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    .logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: var(--main-title-color);
        line-height: 1.17;
        letter-spacing: 0.03em;
        font-weight: 800;
        text-transform: uppercase;
    }
    .logo-spun{
        color: #2E2F42;
    }
    .hamburger {
        border: none;
        padding: 0;
        background-color: transparent;
        transition-duration: 250ms;
        transition-timing-function: #2E2F42;
        transition-property: transform;
    }
     .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
}
.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(46, 47, 66, .1);
    background-color: rgba(231, 233, 252, .1);
}
.close-icon {
    fill: var(--navy-blue-color);
    opacity: 1;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--main-title-color);
}
.menu-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-soc-list {
    display: flex;
    gap: 56px;
    margin-top: 48px;
}
.menu-soc-item {
    width: 40px;
    height: 40px;
}
.menu-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    -webkit-border-radius: 50%;
    background-color: var(--iris-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: #2E2F42;
}
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx){
.hero {
    background: linear-gradient(var(#2E2F42),
    var(#2E2F42)), url(../images/landing/hero/hero-bg-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 112px 0;
    text-align: center;
}
.hero-container{
    margin: 0 auto;
    max-width: 428px;
}
}
/*footer*/
@media screen and (min-width: 480px){
    .footer-container{
       padding: 96px;
       display: flex;
       flex-wrap: wrap;
       row-gap: 72px;
       justify-content: center;
    }
    
    .social-name{
     margin: 0;
     color: #FFFFFF;
     font-weight: 500;
     text-align: center;
     }
    
    .footer-bottom-text{
        width: 268px;
        margin-top: 17px;
    }
    .social-name{
        text-align: center;
        margin-top: 72px;
    }
    .footer-soc-list{
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }
    .input-name{
     text-align: center;
     margin-top: 72px; 
    }
    .footer-bottom-link{
        flex-direction: column;
    }
        .online-form{
            width: 398px;
            height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        gap: 16px;
        margin-top: 16px;
    }
    .online-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        gap: 16px;
        margin-top: 16px
    }
 }
           
/*section 5 customers*/
@media screen and (min-width: 480px){
    .container{
        width: 396px;
    }
    .customers-soc-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 72px 16px;
        margin-top: 72px;
    }
    .customers-soc-item{
        flex-basis: calc((100% - 16px) / 2 );
    }
}
/*section 4*/
@media screen and (min-width: 480px){
    .container{
        width: 582px;
    }
    .person-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    } 
}

/*section 3*/
@media screen and (min-width: 480px){
    .container{
        width: 480px;
    }
    .photo-comp-list, .photo-comp-title{
        display: none;
    }
    .photo-comp{
      
    }
}
/*section 2*/
@media screen and (min-width: 428px){
    .container{
        width: 396px;
    }
    .abaut{
        padding-top: 96px;
        padding-bottom: 96px;
        align-items: center;
    }
    .sambol-defs{
        display: none;
    }
    .abaut-list-taytan{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sambol-defs-list {
        display: block;
        align-items: center;
        justify-content: center;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
              
    }
    .abaut-text{
        margin-bottom: 72px;
        justify-content: center;
    }
   }



 
