/*----section # 4-----*/
.container{
     width: 100%;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
}
@media screen and (min-width: 480px){
    .container{
        width: 480px;
    }
}

@media screen and (min-width: 768px){
    .container{
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.person-item {
    @media screen and (min-width: 768px){
   flex-basis: 50%;
   flex-basis: calc((100% - 30px) / 2 )
 
 }
}
.section-photo-person{
    @media screen and (min-width: 768px){
        padding-top: 96px;
        padding-bottom: 96px;   
    }   
}
.person-list{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 24px;   
    }   
}




 @media screen and (min-width: 1158px){
    .container{
    width: 1158px;
}
}
.person-item {
    @media screen and (min-width: 1158px){
   flex-basis: 100%;
   flex-basis: calc((100% - 72px) / 4);
 }
}
.section-photo-person{
    @media screen and (min-width: 1158px){
        padding-top: 120px;
        padding-bottom: 120px;   
    }   
}
.person-list{
    @media screen and (min-width: 1158px){
        display: flex;
        flex-wrap: wrap;
        gap: 32px;   
    }   
}



/*.section-photo-person
.person-title (одни параметры)/
.person-list/
.person-item /
.photo-person-name (одни параметры)/
.person-item-text (одни параметры)/
.description(одни параметры)/
.person-soc-list(одни параметры)/ 
.person-soc-item(одни параметры)/ 
.person-soc-link(одни параметры)/
*/

 /* .section{
    padding-top: 100%;
    padding-bottom: 100%;
 }
 .person-soc-list{
    flex-basis: calc((100% - 30px) / 2 );
 }
 }
 @media screen and (min-widtn: 1158px) {
    .container {
        width: 1158px;
}
.person-soc-list{
    flex-basis: calc((100% - 90px) / 4 );
}
.section{
    padding-top: 100%;
    padding-bottom: 100%;
 }
 }*/