/*----section # 4-----*/
.container{
     width: 100%;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
}
@media screen and (min-width: 480px){
    .container{
        width: 480px;
    }
    .person-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    } 
}
@media screen and (min-width: 480px){
    .container{
        width: 480px;
    }
    .li-comp{
        display: none;
    }
}





@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
    .person-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    .person-item{
        flex-basis: calc((100% - 30px) / 2 )    
    }
}
@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
    .li-comp{
        display: none;
    }
}




 @media screen and (min-width: 1158px){
    .container{
    width: 1158px;
}
.person-list{
    gap: 24px;
}
.person-item{
    flex-basis: calc((100% - 72px) / 4);   
}
 }
@media screen and (min-width: 1158px){
    .container{
        width: 1158px;
    }
.photo-comp{
    padding-top: 120px;
    padding-bottom: 120px;
 }
 .photo-comp-list{
    flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
 }
 .li-comp{
    width: calc((100% - 48px) / 3);
   }
}
/*section 4
.section-photo-person
.person-title (одни параметры)/
.person-list/
.person-item /
.photo-person-name (одни параметры)/
.person-item-text (одни параметры)/
.description(одни параметры)/
.person-soc-list(одни параметры)/ 
.person-soc-item(одни параметры)/ 
.person-soc-link(одни параметры)/
*/
/*section 3
.photo-comp (displey none)
.photo-comp-list/
.li-comp/
.photo-comp-title/
*/
/*section 2
.abaut
.sambol-defs
.sambol-defs-list
.sambol-defs-icon
.abaut-calk
.abaut-list
.abaut-list-taytan
.abaut-calk
.abaut-text
*/
