/** -----------------UTILITIES------------------ */

.container {
    max-width: 768px;
}

.mobile-menu {
    display: none;
}

/** -----------------HEADER------------------ */

.header {
    padding: 16px 0;
    overflow: hidden;
}

.address-list {
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width: 1157px) {

    .address-link {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
        }
}

.nav-mobile {
    display: none;
}

.header-nav {
    display: flex;
    gap: 120px;
}

.header-address {
    display: block;
}

.current {
    color: var(--ocean-color)
}

.current::after {
    content: '';
    position: absolute;
    top: 140%;
    left: 0;

    width: 100%;
    height: 4px;
    margin-top: 20px;

    background-color: var(--ocean-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

/** -----------------HERO------------------ */

.hero {
    padding: 112px 0;

    background: linear-gradient(var(--grey-color), var(--grey-color))
    url('../images/lending/hero/hero-bg-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {

            .hero {
                background: linear-gradient(var(--grey-color), var(--grey-color))
                url('../images/lending/hero/hero-bg-tablet@2x.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
    }
}

.hero-heading {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
}

.hero-btn {
    margin-top: 36px;
}

/** -----------------ADVANTAGES------------------ */

.advantages-list {
    gap: 72px 24px;
}

.advantages-item {
    flex-basis: calc((100% - 24px) / 2);
}

.advantages-item-heading {
    margin: 0;

    text-align: left;
}

/** -----------------TEAM------------------  */

.team-list {
    gap: 64px 24px;
}

/** -----------------CUSTOMERS------------------ */

.customers-container {
    max-width: 582px;
}

.customers-list {
    gap: 72px 24px;
}

.customers-item {
    flex-basis: calc((100% - 48px) / 3);
}

/** -----------------FOOTER------------------ */

.footer-container {
    max-width: 582px;
    gap: 72px 24px;
    justify-content: flex-start;
}

.footer-text {
    width: 264px;
}

.footer-logo {
    justify-content: flex-start;
}

.footer-soc-text {
    text-align: left;
}

.footer-form {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 24px;
}

.footer-input {
    width: 264px;
}

/** -----------------ORDER MODAL------------------ */

.order-modal {
    width: 408px;
}

/*? -----------------PORTFOLIO PAGE------------------  */

.products {
    padding-top: 64px;
}

.filter-buttons-list {
    justify-content: center;
}

.filter-btn {
    padding: 12px 24px;
}

.current-btn {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products-list {
    margin-top: 64px;
    gap: 72px 24px;
    justify-content: flex-start;
}

.products-item {
    flex-basis: calc((100% - 24px) / 2);
}

.product-img {
    height: 300px;
}